/*
font-family: 'Belanosima', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Teko', sans-serif;
*/
body {
    user-select: none;
    display: flex;
    width: 100vw;
    height: 90vh;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    overflow-x:hidden;
}

body img {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
/*header da pagina*/
header{
    z-index: 99;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-45deg, rgb(255, 153, 0) 50%, white 50%);
    top: 0;
    left: 0;
    padding: 1vh;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
header h1{
    font-family: 'Teko', sans-serif;
    margin-left: 20px;
    font-size: 40px;
}
header h1 a{
    text-decoration: none;
    color: rgb(255, 153, 0);
}
nav a{
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    transition: .2s ease-in-out;
    
}
nav a:hover{
    font-size: 1.2em;
    color: #118cff;
}
.input {
    padding: 5px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas,monaco,monospace;
  }
  
  .input:focus {
    outline: 1px solid black;
    box-shadow: none;
    width: 230px;
  }
  
  .input::placeholder {
    color: black;
  }
  footer{
    z-index: 99;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    position: fixed;
    text-align: center;
    align-items: center;
    background-color: #242424;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
  }
  footer a{
    text-decoration: none;
    font-family: 'Belanosima', sans-serif;
    font-size: 18px;
    color: #118cff;
  }
  .login {
    color: #118cff;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
  }
  
  .card {
    display: flex;
    position: absolute;
    top: 30vh;
    left: 37vw;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: 'Teko', sans-serif;
    width: 25vw;
    flex-direction: column;
    gap: 7vh;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
  }
  
  .inputBox {
    position: relative;
    width: 15vw;
  }
  
  .inputBox input {
    width: 86%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  
  .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .npossuiconta{
    position: absolute;
    top: 12vh;
    left: 5vw;
    width: 15vw;
    padding: 10px;
    border-radius: 10px;
    height: 30vh;
    background: transparent;
    color: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
text-align: center;
  }
  .npossuiconta h1{
    font-family: 'Belanosima', sans-serif;
  }
  .npossuiconta a{
    text-decoration: none;
    color: #118cff;
    font-family: 'Montserrat', sans-serif;
  }
  
  