body {
    user-select: none;
    display: flex;
    width: 100vw;
    height: 250vh;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    overflow-x:hidden;
}

body img {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
/*header da pagina*/
header{
    z-index: 99;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-45deg, black 50%, white 50%);
    top: 0;
    left: 0;
    padding: 1vh;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid aqua;
}
header h1{
    font-family: 'Teko', sans-serif;
    margin-left: 20px;
    font-size: 40px;
}
header h1 a{
    text-decoration: none;
    color: black;
}
nav a{
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    transition: .2s ease-in-out;
    
}
nav a:hover{
    font-size: 1.2em;
    color: aqua;
}
.input {
    padding: 5px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas,monaco,monospace;
  }
  
  .input:focus {
    outline: 1px solid black;
    box-shadow: none;
    width: 230px;
  }
  
  .input::placeholder {
    color: black;
  }
/*
conteudo da pagina
*/
#title{
    position: absolute;
    top: 50vh;
    left: 35vw;
    color: white;
    font-size: 3.2vw;
    font-family: 'Teko', sans-serif;
}
#subtitle{
    position: absolute;
    top: 64vh;
    left: 25vw;
    width: 50vw;
    color: white;
    text-align: center;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}
section{
    color: white;
    position: absolute;
    padding: 5vw;
    top: 80vh;
    left: 10%;    
    background-color: black;
    width: 70%;
    height: 140vh;
    border-radius: 20px;
    border: 2px inset aqua;
    transition: .2s ease-in-out;
}
section:hover{
    scale: 1.01;
}
section h1{
    font-family: 'Belanosima', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
}
section p{
    font-family: 'Montserrat', sans-serif;
}

.cta {
  align-items: center;
  border: none;
  position: absolute;
  border: 1px inset aqua;
  border-radius: 10px;
  top: 180vh;
  left: 35vw;
  width: 30vw;
  height: 50px;
  background-color: white;
  transition: .2s ease-in-out;
}
.cta:hover{
    scale: 1.01;
}
.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/*
footer da pagina
*/
  footer{
    z-index: 99;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    position: fixed;
    text-align: center;
    align-items: center;
    background-color: #242424;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
  }
  footer a{
    text-decoration: none;
    font-family: 'Belanosima', sans-serif;
    font-size: 18px;
    color: aqua;
  }

  /*
  pagina shop
  */
  .firstline{
    display: flex;
    border: 2px inset aqua;
    border-radius: 20px;
    position: relative;
    width: 68vw;
    align-items: center;
    height: 60vh;
    justify-content: space-evenly;
    background-color: white;
  }
  .secondline{
    display: flex;
    border: 2px inset aqua;
    border-radius: 20px;
    margin-top: 10vh;
    position: relative;
    width: 68vw;
    height: 45vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
  }
.card {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 13vw;
    height: 50vh;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card:last-child {
    justify-content: flex-end;
  }
  .img{
    all: unset;
  }
  .card-img .img img{
    transition: .5s ease-in-out;
    position: relative;
    box-sizing: border-box;
    transform: scale(1);
    z-index: 99;
    width: 10vw;
    opacity: 1;
    height: 20vh;
    left: 1.4vw;
  }
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  
  .card-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  }
  
  .card-img:hover {
    transform: translateY(-5px);
}
  
  .card-btn:hover {
    border: 2px solid red;
  }
  
  .card-btn:hover svg {
    fill: red;
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }
  
  .card1 {
    position: relative;
    width: 20vw;
    height: 35vh;
    background: linear-gradient(-45deg, black 0%, aqua 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card1:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card1:hover .card__content1 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description1 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card1:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  